<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Upload using Node express and multer</title>
</head>

<body>

  <div class="container">
    <%= typeof msg !='undefined' ? msg : '' %>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input name="img" type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <button type="submit" class="btn red">submit</button>
      </form>
      <div>
        <h5 class="center-align">
          <%= typeof fileinfo!=='undefined' ? JSON.stringify(fileinfo):'' %>
        </h5>
        <img class="materialboxed" width="650" src="<%= typeof file != 'undefined' ? file : '' %>"
          class="responsive-img">
      </div>
  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>